$red: #ff4559;
$beje-lg: #f2c3a7;
$beje-dk: #d99b84;
$brown: #bf8c6f;
$dark-brown: #734d3f;

$size-1: 14px;
$size-2: 16px;
$size-3: 20px;
$size-4: 24px;
$size-5: 36px;
$size-6: 60px;

$tablet: 768px;
$desktop: 1280px;